body{
	font-family: $default-font;
}

main{
	background: $main;
	.wrap-main{
		margin-top: 80px;
		.thermo-bote{

		}
		.copy{
			ul{
				margin-left: 0;
				overflow: hidden;
				li{
					list-style: none;
					float: left;
					&:last-child{
						margin-top: 44px;
    					margin-left: 10px;
					}
				}
			}
		}
		.texto{
			margin-top: 40px;
			p{
				color: $dark-dust;
				font-size: 14px;
				span{
					color: $dark-green;
				}

			}
		}
		.lista{
			color: $brown;
			ul{
				li{
					font-size: 14px;
					&.special{
						color: $dark-green;
					}
				}
			}
		}

	}
	.copy-text{
		margin-top: 30px;
			p{
				text-align: center;
				color: $dust;
			}
		}

	.video-thermo{
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}
	.video-thermo iframe, .video-container object, .video-container embed{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	
		.form-wrapper{
			background: $light-gray;
			margin-top: 57px;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
			@include roundedCorners(6);
			h1{
				font-family: Helvetica, Arial, sans-serif;
				font-size: 18px;
				font-weight: bold;
				color: $form-text;
				padding-left: 30px;
    			padding-bottom: 15px;
				padding-top: 20px;
				border-bottom: 1px solid $dark-gray;
				margin-bottom: 0;
			}
			form{
				padding: 20px 30px 10px 30px;
				box-shadow: inset 0 1px 0px white;

				input[type="text"], textarea{
					@include roundedCorners(6);
				}

				input[type="submit"]{
					width: 100%;
					outline: none;
					-webkit-appearance:none;
					@include roundedCorners(4);
					@include linearGradientTop(#f8f8f8, #ebebeb);
					padding: 10px;
					border: 0;
					-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    				-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    				font-family: Helvetica, Arial, sans-serif;
    				font-size: 18px;
    				color: $form-text;
    				font-weight: bold;
				}
		}
	}
}